<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block", :class => "text-xs" %>
    <%= form.text_field :title, :class => 'outline-0 pl-2 text-gray-400 border w-full my-2', placeholder: 'article title' %>
  </div>

  <div>
    <%= form.label :content, style: "display: block", :class => "text-xs" %>
    <%= form.text_area :content, :class => 'outline-0 pl-2 text-gray-400 border w-full my-2', placeholder: 'article content' %>
  </div>

  <div class="bg-sky-500 rounded my-4 px-2 text-white text-center">
    <%= form.submit%>
  </div>
<% end %>
