<section class="p-8 leading-4 gap-2">
  <p style="color: green"><%= notice %></p>

  <h1 class="text-3xl font-bold my-4 uppercase my-4 text-3xl text-gray-400">Articles</h1>
  <div class="border ring-0 hover:ring-4 hover:ring-sky-100 hover:shadow-none hover:border-sky-500 hover:outline-none rounded-full  flex items-center justify-center gap-2 w-full sm:w-80  md:w-64 lg:w-96  overflow-hidden pr-2">
  <%= form_with(
    url: articles_path, 
    method: :get, 
    data: { 
      controller: "search-form", 
      turbo_frame: 'articles',
      turbo_action: "advance"}) do |form| %>
      <%= form.text_field :query, 
        class: 'h-full py-2 outline-none px-2 text-gray-400 w-64  sm:w-64 md:w-full lg:w-80 ', 
        data: { action: "input->search-form#search"} %>
  <% end %>
  <span class="material-symbols-outlined">search</span>
  </div>
  <div id="articles" class="lg:grid lg:grid-cols-2 gap-2">
    <% @articles.each do |article| %>
      <article class="leading-2 border p-2 rounded my-4  hover:shadow-lg hover:shadow-gray-500/60 ">
        <%= render "article", article: article %>
      </article>
    <% end %> 
  </div>
   <div class="divide-y my-4"><hr /></div>
  <div class="">
    <%= link_to "New Article", new_article_path, class: 'bg-sky-500 px-2 p-2 text-white rounded' %>
  </div>

</section>
<div class="p-8">
      <h1 class="my-4 flex my-4 text-3xl text-gray-400 uppercase">Search Analytics</h1>
      <table>
        <thead>
          <tr>
            <th>Search Query</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <% @top_searches.each do |query, count| %>
            <tr>
              <td><%= query %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>