<p style="color: green"><%= notice %></p>

<section class="p-4">
  <h1 class="my-4 flex">
    Article#<%= @article.id%>
    <%= button_to "delete", @article, method: :delete, class: 'material-symbols-outlined  text-red-500 px-2' %>

  </h1>
  <%= render @article %>

  <div class="text-center text-sky-500 my-4 ">
    <%= link_to "Edit this article", edit_article_path(@article) , class: 'underline underline-offset-4'%> |
    <%= link_to "Back to articles", articles_path, class: 'underline underline-offset-4'%>
  </div>
</section>