<section class="signup__container mx-auto my-auto bg-gray-100 w-5/6 lg:w-72 mt-16 p-4 rounded-lg leading-10 border shadow-lg shadow-gray-500/60">
  <h2 class="my-4 text-3xl text-gray-400 uppercase ">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, :class => "text-xs" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'outline-0 pl-2 text-gray-400' %>
    </div>

    <div class="field">
      <%= f.label :password, :class => "text-xs" %><br />
      <%= f.password_field :password, autocomplete: "current-password", :class => 'outline-0 pl-2 text-gray-400' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, :class => "text-xs" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'bg-sky-500 rounded my-4 px-2 text-white' %>
    </div>
  <% end %>

  <div class=" text-center m-auto">
    <%= render "devise/shared/links", class: 'underline bg-red-500' %>
  </div>
</section>